{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}
{% block meta_title %}{{ page.title }} | {{ config.title }}{% endblock meta_title %}

{% block description %}{{ page.description | default(value=page.summary | default(value=config.description)) }}{% endblock description %}

{% block og_type %}article{% endblock og_type %}
{% block og_url %}{{ page.permalink }}{% endblock og_url %}
{% block og_title %}{{ page.title }}{% endblock og_title %}
{% block og_description %}{{ page.description | default(value=page.summary | default(value=config.description)) }}{% endblock og_description %}

{% block twitter_title %}{{ page.title }}{% endblock twitter_title %}
{% block twitter_description %}{{ page.description | default(value=page.summary | default(value=config.description)) }}{% endblock twitter_description %}

{% block canonical %}{{ page.permalink }}{% endblock canonical %}

{% block structured_data %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ page.title }}",
    "description": "{{ page.description | default(value=page.summary | default(value='')) }}",
    "url": "{{ page.permalink }}",
    "datePublished": "{{ page.date | date(format='%Y-%m-%dT%H:%M:%S+00:00') }}",
    {% if page.updated %}"dateModified": "{{ page.updated | date(format='%Y-%m-%dT%H:%M:%S+00:00') }}",{% endif %}
    "author": {
        "@type": "Person",
        "name": "{{ config.extra.author }}",
        "url": "{{ config.base_url }}"
    },
    "publisher": {
        "@type": "Person",
        "name": "{{ config.extra.author }}",
        "url": "{{ config.base_url }}"
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.permalink }}"
    }
    {% if page.taxonomies.tags %}
    ,"keywords": "{{ page.taxonomies.tags | join(sep=', ') }}"
    {% endif %}
}
</script>
{% endblock structured_data %}

{% block content %}
<article>
    <h1>{{ page.title }}</h1>
    
    <div class="post-meta">
        <span class="post-date">{{ page.date | date(format="%d %b, %Y") }}</span>
        {% if page.taxonomies.tags %}
        <div class="tags">
            {% for tag in page.taxonomies.tags %}
            <a class="tag" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">#{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {{ page.content | safe }}
</article>
{% endblock content %}
